* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F1f5f8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: rgb(45, 45, 45);
    color: #fff;
    padding: 10px 15px;
    font-size: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #1B262C;
    color: #fff;
    border-radius: 5px;
}

button:active {
    transform: scale(0.95);
}